In [2]:
import pandas as pd
import pandasql as ps
import plotly.graph_objects as go
import numpy as np

In [14]:
df_v4 = pd.read_csv("results-v4.csv")
df_v4

       rep      size  num_streams  block_size    section       dur
0        0      1024            1          32      total  0.000110
1        0      1024            1          32   no-alloc  0.000046
2        0      1024            1          32   stream-0  0.000033
3        0      1024            1          64      total  0.000086
4        0      1024            1          64   no-alloc  0.000035
...    ...       ...          ...         ...        ...       ...
67675   15  67108864           64        1024  stream-52  0.000600
67676   15  67108864           64        1024  stream-58  0.000434
67677   15  67108864           64        1024  stream-14  0.000544
67678   15  67108864           64        1024  stream-39  0.000561
67679   15  67108864           64        1024  stream-54  0.000559

[67680 rows x 6 columns]

In [15]:
ps.sqldf("""
select size, num_streams, mean
from (
    select size, num_streams, block_size, avg(dur) mean
    from df_v4
    where section = 'no-alloc'
    group by size, num_streams, block_size)
group by size, num_streams
having mean = min(mean);
""")

        size  num_streams      mean
0       1024            1  0.000029
1       1024            2  0.000044
2       1024            4  0.000075
3       1024            8  0.000138
4       1024           16  0.000262
5       1024           32  0.000507
6       1024           64  0.001006
7      16384            1  0.000028
8      16384            2  0.000043
9      16384            4  0.000073
10     16384            8  0.000133
11     16384           16  0.000254
12     16384           32  0.000501
13     16384           64  0.000998
14    262144            1  0.000035
15    262144            2  0.000051
16    262144            4  0.000081
17    262144            8  0.000141
18    262144           16  0.000261
19    262144           32  0.000506
20    262144           64  0.000990
21   4194304            1  0.000309
22   4194304            2  0.000316
23   4194304            4  0.000313
24   4194304            8  0.000314
25   4194304           16  0.000356
26   4194304           32  0.000518
27   4194304           64  0.001010
28  67108864            1  0.004937
29  67108864            2  0.004527
30  67108864            4  0.004523
31  67108864            8  0.004525
32  67108864           16  0.004525
33  67108864           32  0.004527
34  67108864           64  0.004540

In [3]:
df_v5 = pd.read_csv("results-v5.csv")
df_v5

        rep      size  num_streams  block_size    section       dur
0         0      1024            1          32      total  0.000224
1         0      1024            1          32   no-alloc  0.000093
2         0      1024            1          32   stream-0  0.000074
3         0      1024            1          32   kernel-0  0.000010
4         0      1024            1          64      total  0.000149
...     ...       ...          ...         ...        ...       ...
128635   15  67108864           64        1024  stream-60  0.000473
128636   15  67108864           64        1024  kernel-61  0.000061
128637   15  67108864           64        1024  kernel-62  0.000066
128638   15  67108864           64        1024  kernel-26  0.000081
128639   15  67108864           64        1024  stream-62  0.000461

[128640 rows x 6 columns]