# `streams` task

In [1]:
import pandas as pd
import pandasql as ps
import plotly.graph_objects as go
import numpy as np

## Results

In [2]:
df = pd.read_csv("results.csv")
df

        rep      size  num_streams  block_size    section       dur
0         0      1024            0          32      total  0.000557
1         0      1024            0          32   stream-0  0.000090
2         0      1024            0          32   kernel-0  0.000055
3         0      1024            1          32      total  0.000521
4         0      1024            1          32   stream-0  0.000071
...     ...       ...          ...         ...        ...       ...
126715   15  67108864           64        1024  stream-60  0.010627
126716   15  67108864           64        1024  kernel-61  0.009516
126717   15  67108864           64        1024  kernel-62  0.009466
126718   15  67108864           64        1024  kernel-26  0.007415
126719   15  67108864           64        1024  stream-62  0.010628

[126720 rows x 6 columns]

## Code sections

In [3]:
df["section"].unique()

array(['total', 'stream-0', 'kernel-0', 'stream-1', 'kernel-1',
       'stream-3', 'kernel-3', 'stream-2', 'kernel-2', 'stream-7',
       'kernel-7', 'stream-6', 'kernel-4', 'stream-5', 'kernel-6',
       'kernel-5', 'stream-4', 'kernel-15', 'kernel-12', 'stream-15',
       'kernel-14', 'stream-9', 'kernel-8', 'stream-8', 'kernel-9',
       'stream-14', 'kernel-10', 'stream-12', 'stream-10', 'kernel-11',
       'stream-11', 'kernel-13', 'stream-13', 'stream-30', 'stream-29',
       'stream-19', 'kernel-30', 'stream-28', 'kernel-16', 'kernel-27',
       'kernel-25', 'stream-31', 'kernel-28', 'kernel-21', 'stream-27',
       'kernel-26', 'stream-21', 'kernel-17', 'stream-18', 'stream-25',
       'stream-17', 'stream-24', 'stream-16', 'kernel-31', 'kernel-18',
       'kernel-20', 'stream-20', 'kernel-19', 'kernel-22', 'stream-22',
       'kernel-23', 'stream-26', 'stream-23', 'kernel-24', 'kernel-29',
       'stream-63', 'stream-42', 'kernel-63', 'kernel-42', 'kernel-47',
       'stream-48', 'stream-50', 'kernel-41', 'stream-38', 'stream-55',
       'stream-41', 'stream-57', 'kernel-56', 'kernel-59', 'kernel-35',
       'stream-54', 'stream-61', 'stream-43', 'kernel-37', 'kernel-52',
       'kernel-36', 'kernel-58', 'stream-37', 'stream-32', 'kernel-38',
       'kernel-33', 'kernel-48', 'stream-33', 'stream-59', 'kernel-34',
       'stream-46', 'stream-34', 'kernel-32', 'stream-36', 'kernel-39',
       'kernel-40', 'stream-40', 'stream-35', 'kernel-43', 'kernel-44',
       'stream-44', 'kernel-45', 'stream-45', 'kernel-46', 'stream-47',
       'kernel-49', 'stream-49', 'kernel-50', 'kernel-51', 'kernel-53',
       'stream-51', 'kernel-60', 'stream-52', 'kernel-54', 'kernel-55',
       'stream-56', 'kernel-57', 'stream-58', 'stream-39', 'stream-53',
       'stream-60', 'kernel-61', 'kernel-62', 'stream-62'], dtype=object)

Explanations:
- `total`: total time of execution;
- `stream-${stream_idx}`: total duration of a given stream (including copying data);
- `kernel-${stream_idx}`: duration of kernel execution in a given stream.

In [4]:
avg_df = ps.sqldf("""
select size, num_streams, block_size, section, avg(dur) mean, sqrt(avg(dur*dur)-avg(dur)*avg(dur)) std
from df
group by size, num_streams, block_size, section;
""")

avg_df

          size  num_streams  block_size    section      mean       std
0         1024            0          32   kernel-0  0.000044  0.000005
1         1024            0          32   stream-0  0.000080  0.000007
2         1024            0          32      total  0.000519  0.000017
3         1024            0          64   kernel-0  0.000043  0.000005
4         1024            0          64   stream-0  0.000079  0.000006
...        ...          ...         ...        ...       ...       ...
7915  67108864           64        1024  stream-63  0.010592  0.000075
7916  67108864           64        1024   stream-7  0.006080  0.000036
7917  67108864           64        1024   stream-8  0.010213  0.000071
7918  67108864           64        1024   stream-9  0.010252  0.000065
7919  67108864           64        1024      total  0.087827  0.000575

[7920 rows x 6 columns]

In [5]:
best_df = ps.sqldf("""
select size, num_streams, mean, std
from avg_df
where section = 'total'
group by size, num_streams
having mean = min(mean);
""")
best_df.tail(8)

        size  num_streams      mean       std
32  67108864            0  0.154930  0.000709
33  67108864            1  0.155035  0.000826
34  67108864            2  0.121485  0.000757
35  67108864            4  0.104046  0.000606
36  67108864            8  0.095436  0.000654
37  67108864           16  0.091130  0.000644
38  67108864           32  0.088834  0.000655
39  67108864           64  0.087576  0.000637

We can see that, asymptotically, the time gets improved by a factor of around two. Let's investigate it further.

In [7]:
total_df = ps.sqldf("""
select size, num_streams, block_size, mean dur
from avg_df
where section = 'total'
group by size, num_streams, block_size;
""")

kernel_df = ps.sqldf("""
select size, num_streams, block_size, sum(mean) dur
from avg_df
where section like 'kernel-%'
group by size, num_streams, block_size;
""")

stream_df = ps.sqldf("""
select size, num_streams, block_size, sum(mean) dur
from avg_df
where section like 'stream-%'
group by size, num_streams, block_size;
""")

comp_df = ps.sqldf("""
select S.size, S.num_streams, T.dur total, K.dur kernel, S.dur stream, S.dur-K.dur memory, T.dur/S.dur "total/stream", K.dur/(S.dur-K.dur) "kernel/memory", K.dur/S.num_streams "kernel_per"
from stream_df S 
join kernel_df K 
    on S.size = K.size
        and S.num_streams = K.num_streams
        and S.block_size = K.block_size
join total_df T
    on S.size = T.size
        and S.num_streams = T.num_streams
        and S.block_size = T.block_size
group by S.size, S.num_streams
having T.dur = min(T.dur);
""")

comp_df

,size,num_streams,total,kernel,stream,memory,total/stream,kernel/memory,kernel_per
0,1024,0,0.000519,0.000044,0.000080,0.000036,6.486323,1.229518,NaN
1,1024,1,0.000510,0.000045,0.000062,0.000017,8.190930,2.565396,0.000045
2,1024,2,0.000529,0.000087,0.000123,0.000036,4.307052,2.432853,0.000044
3,1024,4,0.000573,0.000170,0.000232,0.000062,2.468609,2.729676,0.000042
4,1024,8,0.000665,0.000337,0.000452,0.000116,1.470724,2.911988,0.000042
5,1024,16,0.000843,0.000666,0.000889,0.000223,0.947779,2.993173,0.000042
6,1024,32,0.001187,0.001353,0.001779,0.000426,0.667118,3.174435,0.000042
7,1024,64,0.001908,0.002710,0.003566,0.000856,0.534923,3.166549,0.000042
8,16384,0,0.000517,0.000042,0.000088,0.000046,5.901070,0.910510,NaN
9,16384,1,0.000517,0.000043,0.000075,0.000032,6.901425,1.323580,0.000043
10,16384,2,0.000520,0.000075,0.000119,0.000043,4.382035,1.730847,0.000038
11,16384,4,0.000558,0.000142,0.000216,0.000074,2.576858,1.925066,0.000036
12,16384,8,0.000650,0.000278,0.000410,0.000131,1.586062,2.120766,0.000035
13,16384,16,0.000839,0.000543,0.000787,0.000244,1.065484,2.229440,0.000034
14,16384,32,0.001200,0.001098,0.001559,0.000461,0.769623,2.380051,0.000034
15,16384,64,0.001892,0.002212,0.003100,0.000888,0.610360,2.492014,0.000035
16,262144,0,0.001419,0.000327,0.000611,0.000284,2.321117,1.152704,NaN
17,262144,1,0.001435,0.000330,0.000601,0.000271,2.387983,1.215907,0.000330
18,262144,2,0.001275,0.000401,0.000750,0.000349,1.700703,1.148973,0.000200
19,262144,4,0.001239,0.000553,0.001037,0.000484,1.194794,1.143572,0.000138
20,262144,8,0.001190,0.000799,0.001357,0.000558,0.877151,1.433466,0.000100
21,262144,16,0.001266,0.000974,0.001539,0.000566,0.822593,1.721658,0.000061
22,262144,32,0.001568,0.001259,0.001949,0.000690,0.804614,1.825870,0.000039
23,262144,64,0.002296,0.002246,0.003456,0.001210,0.664425,1.856717,0.000035
24,4194304,0,0.011336,0.004779,0.009349,0.004570,1.212448,1.045792,NaN
25,4194304,1,0.011216,0.004772,0.009306,0.004534,1.205276,1.052438,0.004772
26,4194304,2,0.009106,0.005514,0.011776,0.006262,0.773312,0.880562,0.002757
27,4194304,4,0.007949,0.006961,0.016699,0.009738,0.476015,0.714825,0.001740
28,4194304,8,0.007400,0.009660,0.025874,0.016214,0.286010,0.595759,0.001207
29,4194304,16,0.007076,0.013892,0.032534,0.018642,0.217489,0.745171,0.000868
30,4194304,32,0.006968,0.018570,0.035469,0.016899,0.196462,1.098885,0.000580
31,4194304,64,0.006882,0.020782,0.037468,0.016686,0.183671,1.245485,0.000325
32,67108864,0,0.154930,0.079754,0.148636,0.068881,1.042344,1.157853,NaN
33,67108864,1,0.155035,0.079782,0.148766,0.068984,1.042141,1.156526,0.079782
34,67108864,2,0.121485,0.093695,0.189475,0.095780,0.641168,0.978231,0.046848
35,67108864,4,0.104046,0.121771,0.270281,0.148509,0.384957,0.819958,0.030443
36,67108864,8,0.095436,0.176729,0.430209,0.253480,0.221836,0.697209,0.022091
37,67108864,16,0.091130,0.275483,0.547045,0.271562,0.166586,1.014437,0.017218
38,67108864,32,0.088834,0.392189,0.607879,0.215690,0.146138,1.818296,0.012256
39,67108864,64,0.087576,0.432601,0.640074,0.207474,0.136822,2.085088,0.006759

The main point is that, with the kernel and memory transfers being roughly equal, the increased number of streams should indeed cause a decrease of executon time by around two, since they would get overlapped. This, indeed, seems to happen.